:root {
    --featured-text:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --regular-text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

[class*=grid-] {
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-pink-color);
    color: var(--white-color);
    font-family: var(--regular-text);
  
}

h1, h2, h3, h4, h5 {
    font-family: var(--featured-text);
}

div {
    padding: 1%;
}

/* Navigation Styling */

.navigation {
display: flex;
align-items: center;
justify-content:space-between;
padding: .8%;
background-color: white;
position: fixed;
top: 0;
width: 100%;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    padding: .5rem 0;
}

.nav-link {
    padding: 0 .5rem;
    color: var(--mustard-yellow-color);
    font-family:(--regular-text);
    cursor: pointer;
}

.nav-link a {
    text-decoration: none;
    color: inherit;
}

.nav-link a:hover {
    color: var(--background-pink-color);
} 

.logo a{
  text-decoration: none;
  color: var(--mustard-yellow-color);
  font-size: 2rem;
  font-family: var(--featured-text);
  font-weight: bold;
}

/* Contact Page Styling */
.contact-page {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.contact-header {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1.4;
}

form {
    margin: 0 auto;
    max-width: 700px;
}

form label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
    display: block;
    font-size: 16px;
  
}

form input, form textarea {
    width: 100%;
    border: 2px solid white;
    border-radius: 4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem .2rem;
    margin-top: .5rem;
    font-size: 14px;
    outline: none;
    resize: none;
}

form input:focus, form textarea:focus {
    border-color: var(--peach-color);
}

form button {
    border: none;
    padding: .5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: var(--peach-color);
    color: white;
    font-size: 16px;
    letter-spacing: 1.5;
    cursor: pointer;
}

form button:hover {
    background-color: var(--white-color);
    color: var(--peach-color);
} 

/* Footer style */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1%;
}