/* universal styling */
[class*=grid-] {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-pink);
    color: var(--white);
    font-family: var(--regular);
  
}

h1, h2, h3, h4, h5 {
    font-family: var(--featured);
}

div {
    padding: 1%;
}

/* Navigation Styling */

.navigation {
display: flex;
align-items: center;
justify-content:space-between;
padding: .8%;
background-color: white;
position: fixed;
top: 0;
width: 100%;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    padding: .5rem 0;
}

.nav-link {
    padding: 0 .5rem;
    color: var(--mustard-yellow);
    font-family:(--regular);
    cursor: pointer;
}

.nav-link a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.nav-link a:hover {
    color: var(--background-pink);
} 

.logo a{
  text-decoration: none;
  color: var(--mustard-yellow);
  font-size: 2rem;
  font-family: var(--featured);
  font-weight: bold;
  display: inline-block;
}

/* Contact Page Styling */
.contact-page {
    padding: 10%;
    height: 95vh;
}

.contact-header {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}

.contact-form {
    margin: 0 auto;
    max-width: 500px;
}

.contact-form label {
    display: block;
    text-align:left;
   font-size: 20px;
   font-family: var(--regular);
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    font-family: var(--regular);
    font-size: 14px;
    border: 2px solid white;
    outline: none;
    padding: .3rem;
    border-radius: 3px;
    margin-bottom: .8rem;
    margin-top: .3rem;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color: var(--peach);
}

.contact-form button {
    display: block;
    border: none;
    background-color: var(--peach);
    color: white;
    text-transform: uppercase;
    padding: .5rem 1rem;
    border-radius: 3px;
    font-size: 16px;

}



/* Footer style */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1%;
}

@media (max-width: 800px) {
 
}