<style>
  :root {
    --background-pink-color:{{site.data.site-settings.design.background-pink-color_color}}
    --white-color: {{site.data.site-settings.design.white-color_color}}
    --bright-yellow-color: {{site.data.site-settings.design.bright-yellow-color_color}}
    --mustard-yellow-color: {{site.data.site-settings.design.mustard-yellow-color_color}}
    --orange-color: #{{site.data.site-settings.design.orange-color_color}}
    --pink-color:{{site.data.site-settings.design.pink-color_color}}
    --peach-color: {{site.data.site-settings.design.peach-color_color}}
    --special-text: 
}
</style>