<style>
  :root {
    --background-pink:{{site.data.site-settings.design.background-pink_color}};
    --white: {{site.data.site-settings.design.white_color}};
    --bright-yellow: {{site.data.site-settings.design.bright-yellow_color}};
    --mustard-yellow: {{site.data.site-settings.design.mustard-yellow_color}};
    --orange: {{site.data.site-settings.design.orange_color}};
    --pink:{{site.data.site-settings.design.pink_color}};
    --peach: {{site.data.site-settings.design.peach_color}};
    --featured: {{site.data.site-settings.design.featured_text}};
    --regular: {{site.data.site-settings.design.regular_text}};
}
</style>