  <nav class="navigation">
    <div class="logo"><a href="/">Summertime ☀️</a></div>
    <div class="burger-container col-2-middle"><i class="fa-solid fa-bars"></i></div> 
    <ul class="main-navigation">
        <li class="nav-link"><a href="/about">About</a></li>
        <li class="nav-link"><a href="/pricing">Pricing</a></li>
        <li class="nav-link"><a href="/portfolio">Portfolio</a></li>
        <li class="nav-link"><a href="/contact">Contact</a></li>
    </ul>
    </nav>
    
    <div class="mobile-wrapper">
     <ul class="mobile-navigation hide">
        <li><a href="/about">About</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    </div>